/* Best Website in the World ~ Cascading Style Sheet */

:root {
  --background-color: #000000;
  --text-color: #219EBC;
  --color-1: #023047;
  --color-2: #FF1493;
  --color-3: #FB8500;
}

body {
  text-align: center;
  color: var(--text-color);
  background-image: linear-gradient(var(--color-2), var(--color-3), var(--color-2));
}

header {
  text-shadow: 0 1px 2px black;
  border-radius: 25px;
}

p {
  font-size: 1.05em;
  text-decoration: underline;
  text-decoration-color: var(--color-3);
  border-radius: 25px;
}

p, .tiny-text, figcaption {
  text-shadow: 0 1px 1px black;
}

.big-bar {
 width: 80%;
}

.med-bar {

}

.lil-bar {

}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: .35em solid #219EBC;
  background-color: #219EBC;
  background-blend-mode: ;
}

figure {
  justify-content: center;
  align-items: center;
}

img {
  max-width: 12em;
  max-height: 12em;
  border: 5px solid white;
  position: relative;
  left: -10px;
  border-radius: 0 0 200px 0;
}

figcaption {
  margin-bottom: 5em;
}

.color-1 {
  color: var(--text-color)
}

.color-2 {
  color: var(--color-2);
}

footer {
  margin-bottom: 10em;
}

button {
  border: outset var(--text-color);
  background-color: var(--text-color);
  color: var(--color-1);
}

.link-settings {
  color: var(--color-1);
  text-shadow: 0 1px 2px var(--color-1);
  text-decoration-color: var(--text-color);
  text-decoration-thickness: 1px;
}

.tiny-text {
  font-size: 0.3125em;
  color: var(--color-1);
}

.big {
  min-height: 24em;
  min-width: 24em;
}